<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="faitParti">
        <h2 class="jh-entity-heading" data-cy="faitPartiDetailsHeading">
          <span v-text="$t('blogApp.faitParti.detail.title')">FaitParti</span> {{ faitParti.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.faitParti.gere')">Gere</span>
          </dt>
          <dd>
            <span v-text="$t('blogApp.GERE.' + faitParti.gere)">{{ faitParti.gere }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.faitParti.cooperative')">Cooperative</span>
          </dt>
          <dd>
            <div v-if="faitParti.cooperative">
              <router-link :to="{ name: 'CooperativeView', params: { cooperativeId: faitParti.cooperative.id } }">{{
                faitParti.cooperative.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('blogApp.faitParti.utilisateur')">Utilisateur</span>
          </dt>
          <dd>
            <div v-if="faitParti.utilisateur">
              <router-link :to="{ name: 'UtilisateurView', params: { utilisateurId: faitParti.utilisateur.id } }">{{
                faitParti.utilisateur.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="faitParti.id"
          :to="{ name: 'FaitPartiEdit', params: { faitPartiId: faitParti.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./fait-parti-details.component.ts"></script>
