<template>
  <div>
    <h2 id="page-heading" data-cy="FaitPartiHeading">
      <span v-text="$t('blogApp.faitParti.home.title')" id="fait-parti-heading">Fait Partis</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.faitParti.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'FaitPartiCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-fait-parti"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.faitParti.home.createLabel')"> Create a new Fait Parti </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && faitPartis && faitPartis.length === 0">
      <span v-text="$t('blogApp.faitParti.home.notFound')">No faitPartis found</span>
    </div>
    <div class="table-responsive" v-if="faitPartis && faitPartis.length > 0">
      <table class="table table-striped" aria-describedby="faitPartis">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('blogApp.faitParti.gere')">Gere</span></th>
            <th scope="row"><span v-text="$t('blogApp.faitParti.cooperative')">Cooperative</span></th>
            <th scope="row"><span v-text="$t('blogApp.faitParti.utilisateur')">Utilisateur</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="faitParti in faitPartis" :key="faitParti.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'FaitPartiView', params: { faitPartiId: faitParti.id } }">{{ faitParti.id }}</router-link>
            </td>
            <td v-text="$t('blogApp.GERE.' + faitParti.gere)">{{ faitParti.gere }}</td>
            <td>
              <div v-if="faitParti.cooperative">
                <router-link :to="{ name: 'CooperativeView', params: { cooperativeId: faitParti.cooperative.id } }">{{
                  faitParti.cooperative.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="faitParti.utilisateur">
                <router-link :to="{ name: 'UtilisateurView', params: { utilisateurId: faitParti.utilisateur.id } }">{{
                  faitParti.utilisateur.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'FaitPartiView', params: { faitPartiId: faitParti.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'FaitPartiEdit', params: { faitPartiId: faitParti.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(faitParti)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="blogApp.faitParti.delete.question" data-cy="faitPartiDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-faitParti-heading" v-text="$t('blogApp.faitParti.delete.question', { id: removeId })">
          Are you sure you want to delete this Fait Parti?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-faitParti"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeFaitParti()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./fait-parti.component.ts"></script>
