<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.faitParti.home.createOrEditLabel"
          data-cy="FaitPartiCreateUpdateHeading"
          v-text="$t('blogApp.faitParti.home.createOrEditLabel')"
        >
          Create or edit a FaitParti
        </h2>
        <div>
          <div class="form-group" v-if="faitParti.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="faitParti.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.faitParti.gere')" for="fait-parti-gere">Gere</label>
            <select
              class="form-control"
              name="gere"
              :class="{ valid: !$v.faitParti.gere.$invalid, invalid: $v.faitParti.gere.$invalid }"
              v-model="$v.faitParti.gere.$model"
              id="fait-parti-gere"
              data-cy="gere"
              required
            >
              <option v-for="gERE in gEREValues" :key="gERE" v-bind:value="gERE" v-bind:label="$t('blogApp.GERE.' + gERE)">
                {{ gERE }}
              </option>
            </select>
            <div v-if="$v.faitParti.gere.$anyDirty && $v.faitParti.gere.$invalid">
              <small class="form-text text-danger" v-if="!$v.faitParti.gere.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.faitParti.cooperative')" for="fait-parti-cooperative">Cooperative</label>
            <select
              class="form-control"
              id="fait-parti-cooperative"
              data-cy="cooperative"
              name="cooperative"
              v-model="faitParti.cooperative"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  faitParti.cooperative && cooperativeOption.id === faitParti.cooperative.id ? faitParti.cooperative : cooperativeOption
                "
                v-for="cooperativeOption in cooperatives"
                :key="cooperativeOption.id"
              >
                {{ cooperativeOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.faitParti.utilisateur')" for="fait-parti-utilisateur">Utilisateur</label>
            <select
              class="form-control"
              id="fait-parti-utilisateur"
              data-cy="utilisateur"
              name="utilisateur"
              v-model="faitParti.utilisateur"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  faitParti.utilisateur && utilisateurOption.id === faitParti.utilisateur.id ? faitParti.utilisateur : utilisateurOption
                "
                v-for="utilisateurOption in utilisateurs"
                :key="utilisateurOption.id"
              >
                {{ utilisateurOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.faitParti.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./fait-parti-update.component.ts"></script>
