<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="blogApp.menu.home.createOrEditLabel" data-cy="MenuCreateUpdateHeading" v-text="$t('blogApp.menu.home.createOrEditLabel')">
          Create or edit a Menu
        </h2>
        <div>
          <div class="form-group" v-if="menu.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="menu.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.menu.idMenu')" for="menu-idMenu">Id Menu</label>
            <input
              type="number"
              class="form-control"
              name="idMenu"
              id="menu-idMenu"
              data-cy="idMenu"
              :class="{ valid: !$v.menu.idMenu.$invalid, invalid: $v.menu.idMenu.$invalid }"
              v-model.number="$v.menu.idMenu.$model"
              required
            />
            <div v-if="$v.menu.idMenu.$anyDirty && $v.menu.idMenu.$invalid">
              <small class="form-text text-danger" v-if="!$v.menu.idMenu.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.menu.idMenu.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.menu.idCooperative')" for="menu-idCooperative">Id Cooperative</label>
            <input
              type="number"
              class="form-control"
              name="idCooperative"
              id="menu-idCooperative"
              data-cy="idCooperative"
              :class="{ valid: !$v.menu.idCooperative.$invalid, invalid: $v.menu.idCooperative.$invalid }"
              v-model.number="$v.menu.idCooperative.$model"
              required
            />
            <div v-if="$v.menu.idCooperative.$anyDirty && $v.menu.idCooperative.$invalid">
              <small class="form-text text-danger" v-if="!$v.menu.idCooperative.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.menu.idCooperative.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.menu.cooperative')" for="menu-cooperative">Cooperative</label>
            <select class="form-control" id="menu-cooperative" data-cy="cooperative" name="cooperative" v-model="menu.cooperative">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="menu.cooperative && cooperativeOption.id === menu.cooperative.id ? menu.cooperative : cooperativeOption"
                v-for="cooperativeOption in cooperatives"
                :key="cooperativeOption.id"
              >
                {{ cooperativeOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.menu.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./menu-update.component.ts"></script>
