<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="menu">
        <h2 class="jh-entity-heading" data-cy="menuDetailsHeading">
          <span v-text="$t('blogApp.menu.detail.title')">Menu</span> {{ menu.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.menu.idMenu')">Id Menu</span>
          </dt>
          <dd>
            <span>{{ menu.idMenu }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.menu.idCooperative')">Id Cooperative</span>
          </dt>
          <dd>
            <span>{{ menu.idCooperative }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.menu.cooperative')">Cooperative</span>
          </dt>
          <dd>
            <div v-if="menu.cooperative">
              <router-link :to="{ name: 'CooperativeView', params: { cooperativeId: menu.cooperative.id } }">{{
                menu.cooperative.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="menu.id" :to="{ name: 'MenuEdit', params: { menuId: menu.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./menu-details.component.ts"></script>
