<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.produitCommande.home.createOrEditLabel"
          data-cy="ProduitCommandeCreateUpdateHeading"
          v-text="$t('blogApp.produitCommande.home.createOrEditLabel')"
        >
          Create or edit a ProduitCommande
        </h2>
        <div>
          <div class="form-group" v-if="produitCommande.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="produitCommande.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produitCommande.idProduit')" for="produit-commande-idProduit"
              >Id Produit</label
            >
            <input
              type="number"
              class="form-control"
              name="idProduit"
              id="produit-commande-idProduit"
              data-cy="idProduit"
              :class="{ valid: !$v.produitCommande.idProduit.$invalid, invalid: $v.produitCommande.idProduit.$invalid }"
              v-model.number="$v.produitCommande.idProduit.$model"
              required
            />
            <div v-if="$v.produitCommande.idProduit.$anyDirty && $v.produitCommande.idProduit.$invalid">
              <small class="form-text text-danger" v-if="!$v.produitCommande.idProduit.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.produitCommande.idProduit.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produitCommande.idCommande')" for="produit-commande-idCommande"
              >Id Commande</label
            >
            <input
              type="number"
              class="form-control"
              name="idCommande"
              id="produit-commande-idCommande"
              data-cy="idCommande"
              :class="{ valid: !$v.produitCommande.idCommande.$invalid, invalid: $v.produitCommande.idCommande.$invalid }"
              v-model.number="$v.produitCommande.idCommande.$model"
              required
            />
            <div v-if="$v.produitCommande.idCommande.$anyDirty && $v.produitCommande.idCommande.$invalid">
              <small class="form-text text-danger" v-if="!$v.produitCommande.idCommande.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.produitCommande.idCommande.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produitCommande.quantite')" for="produit-commande-quantite"
              >Quantite</label
            >
            <input
              type="number"
              class="form-control"
              name="quantite"
              id="produit-commande-quantite"
              data-cy="quantite"
              :class="{ valid: !$v.produitCommande.quantite.$invalid, invalid: $v.produitCommande.quantite.$invalid }"
              v-model.number="$v.produitCommande.quantite.$model"
            />
          </div>
          <div class="form-group">
            <label
              class="form-control-label"
              v-text="$t('blogApp.produitCommande.quantitePossible')"
              for="produit-commande-quantitePossible"
              >Quantite Possible</label
            >
            <input
              type="checkbox"
              class="form-check"
              name="quantitePossible"
              id="produit-commande-quantitePossible"
              data-cy="quantitePossible"
              :class="{ valid: !$v.produitCommande.quantitePossible.$invalid, invalid: $v.produitCommande.quantitePossible.$invalid }"
              v-model="$v.produitCommande.quantitePossible.$model"
            />
          </div>
          <div class="form-group">
            <label v-text="$t('blogApp.produitCommande.product')" for="produit-commande-product">Product</label>
            <select
              class="form-control"
              id="produit-commande-products"
              data-cy="product"
              multiple
              name="product"
              v-if="produitCommande.products !== undefined"
              v-model="produitCommande.products"
              required
            >
              <option
                v-bind:value="getSelected(produitCommande.products, produitOption)"
                v-for="produitOption in produits"
                :key="produitOption.id"
              >
                {{ produitOption.id }}
              </option>
            </select>
          </div>
          <div v-if="$v.produitCommande.products.$anyDirty && $v.produitCommande.products.$invalid">
            <small class="form-text text-danger" v-if="!$v.produitCommande.products.required" v-text="$t('entity.validation.required')">
              This field is required.
            </small>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produitCommande.commande')" for="produit-commande-commande"
              >Commande</label
            >
            <select
              class="form-control"
              id="produit-commande-commande"
              data-cy="commande"
              name="commande"
              v-model="produitCommande.commande"
            >
              <option v-bind:value="null"></option>
              <option
                v-bind:value="
                  produitCommande.commande && commandeOption.id === produitCommande.commande.id ? produitCommande.commande : commandeOption
                "
                v-for="commandeOption in commandes"
                :key="commandeOption.id"
              >
                {{ commandeOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.produitCommande.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./produit-commande-update.component.ts"></script>
