<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="produitCommande">
        <h2 class="jh-entity-heading" data-cy="produitCommandeDetailsHeading">
          <span v-text="$t('blogApp.produitCommande.detail.title')">ProduitCommande</span> {{ produitCommande.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.produitCommande.idProduit')">Id Produit</span>
          </dt>
          <dd>
            <span>{{ produitCommande.idProduit }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.produitCommande.idCommande')">Id Commande</span>
          </dt>
          <dd>
            <span>{{ produitCommande.idCommande }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.produitCommande.quantite')">Quantite</span>
          </dt>
          <dd>
            <span>{{ produitCommande.quantite }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.produitCommande.quantitePossible')">Quantite Possible</span>
          </dt>
          <dd>
            <span>{{ produitCommande.quantitePossible }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.produitCommande.product')">Product</span>
          </dt>
          <dd>
            <span v-for="(product, i) in produitCommande.products" :key="product.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'ProduitView', params: { produitId: product.id } }">{{ product.id }}</router-link>
            </span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.produitCommande.commande')">Commande</span>
          </dt>
          <dd>
            <div v-if="produitCommande.commande">
              <router-link :to="{ name: 'CommandeView', params: { commandeId: produitCommande.commande.id } }">{{
                produitCommande.commande.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="produitCommande.id"
          :to="{ name: 'ProduitCommandeEdit', params: { produitCommandeId: produitCommande.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./produit-commande-details.component.ts"></script>
