<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.course.home.createOrEditLabel"
          data-cy="CourseCreateUpdateHeading"
          v-text="$t('blogApp.course.home.createOrEditLabel')"
        >
          Create or edit a Course
        </h2>
        <div>
          <div class="form-group" v-if="course.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="course.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.idCourse')" for="course-idCourse">Id Course</label>
            <input
              type="number"
              class="form-control"
              name="idCourse"
              id="course-idCourse"
              data-cy="idCourse"
              :class="{ valid: !$v.course.idCourse.$invalid, invalid: $v.course.idCourse.$invalid }"
              v-model.number="$v.course.idCourse.$model"
              required
            />
            <div v-if="$v.course.idCourse.$anyDirty && $v.course.idCourse.$invalid">
              <small class="form-text text-danger" v-if="!$v.course.idCourse.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.course.idCourse.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.idCoursier')" for="course-idCoursier">Id Coursier</label>
            <input
              type="number"
              class="form-control"
              name="idCoursier"
              id="course-idCoursier"
              data-cy="idCoursier"
              :class="{ valid: !$v.course.idCoursier.$invalid, invalid: $v.course.idCoursier.$invalid }"
              v-model.number="$v.course.idCoursier.$model"
              required
            />
            <div v-if="$v.course.idCoursier.$anyDirty && $v.course.idCoursier.$invalid">
              <small class="form-text text-danger" v-if="!$v.course.idCoursier.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.course.idCoursier.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.adresse')" for="course-adresse">Adresse</label>
            <input
              type="text"
              class="form-control"
              name="adresse"
              id="course-adresse"
              data-cy="adresse"
              :class="{ valid: !$v.course.adresse.$invalid, invalid: $v.course.adresse.$invalid }"
              v-model="$v.course.adresse.$model"
              required
            />
            <div v-if="$v.course.adresse.$anyDirty && $v.course.adresse.$invalid">
              <small class="form-text text-danger" v-if="!$v.course.adresse.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.commande')" for="course-commande">Commande</label>
            <select class="form-control" id="course-commande" data-cy="commande" name="commande" v-model="course.commande">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="course.commande && commandeOption.id === course.commande.id ? course.commande : commandeOption"
                v-for="commandeOption in commandes"
                :key="commandeOption.id"
              >
                {{ commandeOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.course.coursier')" for="course-coursier">Coursier</label>
            <select class="form-control" id="course-coursier" data-cy="coursier" name="coursier" v-model="course.coursier">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="course.coursier && coursierOption.id === course.coursier.id ? course.coursier : coursierOption"
                v-for="coursierOption in coursiers"
                :key="coursierOption.id"
              >
                {{ coursierOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.course.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./course-update.component.ts"></script>
