<template>
  <div>
    <b-dropdown-item to="/fait-parti">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.faitParti')">Fait Parti</span>
    </b-dropdown-item>
    <b-dropdown-item to="/role">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.role')">Role</span>
    </b-dropdown-item>
    <b-dropdown-item to="/cooperative">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.cooperative')">Cooperative</span>
    </b-dropdown-item>
    <b-dropdown-item to="/utilisateur">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.utilisateur')">Utilisateur</span>
    </b-dropdown-item>
    <b-dropdown-item to="/coursier">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.coursier')">Coursier</span>
    </b-dropdown-item>
    <b-dropdown-item to="/course">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.course')">Course</span>
    </b-dropdown-item>
    <b-dropdown-item to="/menu">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.menu')">Menu</span>
    </b-dropdown-item>
    <b-dropdown-item to="/commande">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.commande')">Commande</span>
    </b-dropdown-item>
    <b-dropdown-item to="/produit">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.produit')">Produit</span>
    </b-dropdown-item>
    <b-dropdown-item to="/produit-commande">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.produitCommande')">Produit Commande</span>
    </b-dropdown-item>
    <b-dropdown-item to="/paiement">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.paiement')">Paiement</span>
    </b-dropdown-item>
    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
  </div>
</template>

<script lang="ts" src="./entities-menu.component.ts"></script>
