<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.paiement.home.createOrEditLabel"
          data-cy="PaiementCreateUpdateHeading"
          v-text="$t('blogApp.paiement.home.createOrEditLabel')"
        >
          Create or edit a Paiement
        </h2>
        <div>
          <div class="form-group" v-if="paiement.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="paiement.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.paiement.idPaiement')" for="paiement-idPaiement">Id Paiement</label>
            <input
              type="number"
              class="form-control"
              name="idPaiement"
              id="paiement-idPaiement"
              data-cy="idPaiement"
              :class="{ valid: !$v.paiement.idPaiement.$invalid, invalid: $v.paiement.idPaiement.$invalid }"
              v-model.number="$v.paiement.idPaiement.$model"
            />
            <div v-if="$v.paiement.idPaiement.$anyDirty && $v.paiement.idPaiement.$invalid">
              <small class="form-text text-danger" v-if="!$v.paiement.idPaiement.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.paiement.idCommande')" for="paiement-idCommande">Id Commande</label>
            <input
              type="number"
              class="form-control"
              name="idCommande"
              id="paiement-idCommande"
              data-cy="idCommande"
              :class="{ valid: !$v.paiement.idCommande.$invalid, invalid: $v.paiement.idCommande.$invalid }"
              v-model.number="$v.paiement.idCommande.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.paiement.methodeDePaiement')" for="paiement-methodeDePaiement"
              >Methode De Paiement</label
            >
            <select
              class="form-control"
              name="methodeDePaiement"
              :class="{ valid: !$v.paiement.methodeDePaiement.$invalid, invalid: $v.paiement.methodeDePaiement.$invalid }"
              v-model="$v.paiement.methodeDePaiement.$model"
              id="paiement-methodeDePaiement"
              data-cy="methodeDePaiement"
              required
            >
              <option
                v-for="methodeDePaiement in methodeDePaiementValues"
                :key="methodeDePaiement"
                v-bind:value="methodeDePaiement"
                v-bind:label="$t('blogApp.MethodeDePaiement.' + methodeDePaiement)"
              >
                {{ methodeDePaiement }}
              </option>
            </select>
            <div v-if="$v.paiement.methodeDePaiement.$anyDirty && $v.paiement.methodeDePaiement.$invalid">
              <small class="form-text text-danger" v-if="!$v.paiement.methodeDePaiement.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.paiement.commande')" for="paiement-commande">Commande</label>
            <select class="form-control" id="paiement-commande" data-cy="commande" name="commande" v-model="paiement.commande">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="paiement.commande && commandeOption.id === paiement.commande.id ? paiement.commande : commandeOption"
                v-for="commandeOption in commandes"
                :key="commandeOption.id"
              >
                {{ commandeOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.paiement.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./paiement-update.component.ts"></script>
