<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.produit.home.createOrEditLabel"
          data-cy="ProduitCreateUpdateHeading"
          v-text="$t('blogApp.produit.home.createOrEditLabel')"
        >
          Create or edit a Produit
        </h2>
        <div>
          <div class="form-group" v-if="produit.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="produit.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produit.idProduit')" for="produit-idProduit">Id Produit</label>
            <input
              type="number"
              class="form-control"
              name="idProduit"
              id="produit-idProduit"
              data-cy="idProduit"
              :class="{ valid: !$v.produit.idProduit.$invalid, invalid: $v.produit.idProduit.$invalid }"
              v-model.number="$v.produit.idProduit.$model"
              required
            />
            <div v-if="$v.produit.idProduit.$anyDirty && $v.produit.idProduit.$invalid">
              <small class="form-text text-danger" v-if="!$v.produit.idProduit.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.produit.idProduit.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produit.idMenu')" for="produit-idMenu">Id Menu</label>
            <input
              type="number"
              class="form-control"
              name="idMenu"
              id="produit-idMenu"
              data-cy="idMenu"
              :class="{ valid: !$v.produit.idMenu.$invalid, invalid: $v.produit.idMenu.$invalid }"
              v-model.number="$v.produit.idMenu.$model"
              required
            />
            <div v-if="$v.produit.idMenu.$anyDirty && $v.produit.idMenu.$invalid">
              <small class="form-text text-danger" v-if="!$v.produit.idMenu.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.produit.idMenu.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produit.nom')" for="produit-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="produit-nom"
              data-cy="nom"
              :class="{ valid: !$v.produit.nom.$invalid, invalid: $v.produit.nom.$invalid }"
              v-model="$v.produit.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produit.prix')" for="produit-prix">Prix</label>
            <input
              type="number"
              class="form-control"
              name="prix"
              id="produit-prix"
              data-cy="prix"
              :class="{ valid: !$v.produit.prix.$invalid, invalid: $v.produit.prix.$invalid }"
              v-model.number="$v.produit.prix.$model"
              required
            />
            <div v-if="$v.produit.prix.$anyDirty && $v.produit.prix.$invalid">
              <small class="form-text text-danger" v-if="!$v.produit.prix.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.produit.prix.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produit.disponibilite')" for="produit-disponibilite">Disponibilite</label>
            <input
              type="number"
              class="form-control"
              name="disponibilite"
              id="produit-disponibilite"
              data-cy="disponibilite"
              :class="{ valid: !$v.produit.disponibilite.$invalid, invalid: $v.produit.disponibilite.$invalid }"
              v-model.number="$v.produit.disponibilite.$model"
            />
            <div v-if="$v.produit.disponibilite.$anyDirty && $v.produit.disponibilite.$invalid">
              <small class="form-text text-danger" v-if="!$v.produit.disponibilite.min" v-text="$t('entity.validation.min', { min: 0 })">
                This field should be at least 0.
              </small>
              <small class="form-text text-danger" v-if="!$v.produit.disponibilite.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.produit.menu')" for="produit-menu">Menu</label>
            <select class="form-control" id="produit-menu" data-cy="menu" name="menu" v-model="produit.menu">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="produit.menu && menuOption.id === produit.menu.id ? produit.menu : menuOption"
                v-for="menuOption in menus"
                :key="menuOption.id"
              >
                {{ menuOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.produit.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./produit-update.component.ts"></script>
