<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.coursier.home.createOrEditLabel"
          data-cy="CoursierCreateUpdateHeading"
          v-text="$t('blogApp.coursier.home.createOrEditLabel')"
        >
          Create or edit a Coursier
        </h2>
        <div>
          <div class="form-group" v-if="coursier.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="coursier.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.coursier.nom')" for="coursier-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="coursier-nom"
              data-cy="nom"
              :class="{ valid: !$v.coursier.nom.$invalid, invalid: $v.coursier.nom.$invalid }"
              v-model="$v.coursier.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.coursier.prenom')" for="coursier-prenom">Prenom</label>
            <input
              type="text"
              class="form-control"
              name="prenom"
              id="coursier-prenom"
              data-cy="prenom"
              :class="{ valid: !$v.coursier.prenom.$invalid, invalid: $v.coursier.prenom.$invalid }"
              v-model="$v.coursier.prenom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.coursier.telephone')" for="coursier-telephone">Telephone</label>
            <input
              type="text"
              class="form-control"
              name="telephone"
              id="coursier-telephone"
              data-cy="telephone"
              :class="{ valid: !$v.coursier.telephone.$invalid, invalid: $v.coursier.telephone.$invalid }"
              v-model="$v.coursier.telephone.$model"
            />
            <div v-if="$v.coursier.telephone.$anyDirty && $v.coursier.telephone.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.coursier.telephone.minLength"
                v-text="$t('entity.validation.minlength', { min: 10 })"
              >
                This field is required to be at least 10 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.coursier.telephone.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 10 })"
              >
                This field cannot be longer than 10 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.coursier.vehicule')" for="coursier-vehicule">Vehicule</label>
            <input
              type="text"
              class="form-control"
              name="vehicule"
              id="coursier-vehicule"
              data-cy="vehicule"
              :class="{ valid: !$v.coursier.vehicule.$invalid, invalid: $v.coursier.vehicule.$invalid }"
              v-model="$v.coursier.vehicule.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.coursier.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./coursier-update.component.ts"></script>
