<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="coursier">
        <h2 class="jh-entity-heading" data-cy="coursierDetailsHeading">
          <span v-text="$t('blogApp.coursier.detail.title')">Coursier</span> {{ coursier.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.coursier.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ coursier.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.coursier.prenom')">Prenom</span>
          </dt>
          <dd>
            <span>{{ coursier.prenom }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.coursier.telephone')">Telephone</span>
          </dt>
          <dd>
            <span>{{ coursier.telephone }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.coursier.vehicule')">Vehicule</span>
          </dt>
          <dd>
            <span>{{ coursier.vehicule }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="coursier.id" :to="{ name: 'CoursierEdit', params: { coursierId: coursier.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./coursier-details.component.ts"></script>
